<!-- <div class="ui centered middle aligned one column grid div-gradient">
   <div class="row">
      <div class="column div-height">
         
         <div class="ui vertical animated button center aligned centered" tabindex="0">
               <div class="hidden content">Shop</div>
               <div class="visible content">
                 <i class="shop icon"></i>
               </div>
             </div>
      </div>
   </div>
</div> -->
<div class="container-fluid">
   <div class="row div-gradient div-height text-center">
      <div class="col-12 my-auto">
         <h1 class="text-white display-2 light">Style Voice Transfer</h1>
         <div class="mx-auto borderColor-up pt-2"></div>
         <h3 class="text-white light pt-3">Proyecto Integrador</h3>
         <button type="button" class="btn btn-outline-light btn-lg mt-4 pt-2 pb-2" (click)="secondDiv()"><i
               class="fa fa-rocket fa-md"></i>&nbsp; Comenzar</button>
      </div>
   </div>
</div>
<div class="bg-cards-section">
   <div class="container second pb-4">
      <div class="row div-second text-center p-4">
         <div class="col-12 mt-4 mb-2">
            <h1 class="display-3 pt-2 pb-4">
               Servicios
            </h1>
         </div>
         <div class="col-sm-12 col-md-4 p-4 my-auto">
            <div class="card">
               <div class="card-body">
                  <i class="fa fa-star-o fa-3x"></i>
                  <div class="title">
                     <h4>Mean Opinion Score</h4>
                  </div>
                  <div class="text">
                     <h6 class="light">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                        Elitr scripta
                        ocurreret qui ad.</h6>
                  </div>
                  <a routerLink="/mos" (click)="goUp()" class="btn btn-outline-dark">Entrar</a>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 p-4 my-auto">
            <div class="card">
               <div class="card-body">
                  <i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
                  <div class="title">
                     <h4>Escuchar Transferencias</h4>
                  </div>
                  <div class="text">
                     <h6 class="light">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                        Elitr scripta
                        ocurreret qui ad.</h6>
                  </div>
                  <a href="#" class="btn btn-outline-dark">Entrar</a>
               </div>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 p-4 my-auto">
            <div class="card">
               <div class="card-body">
                  <i class="fa fa-microphone fa-3x"></i>
                  <div class="title">
                     <h4>Transferencia de Estilo</h4>
                  </div>
                  <div class="text">
                     <h6 class="light">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                        Elitr scripta
                        ocurreret qui ad.</h6>
                  </div>
                  <a href="#" class="btn btn-outline-dark">Entrar</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container ">
   <div class="row div-height text-center">

   </div>
</div>