.Results {
  width: 100%;
  height: 100vh;
}

.div-gradient {
  background: linear-gradient(45deg, #283E51, #283E51, #4B79A1, #283E51, #434343, #141414, #000000);
  background-size: 800% 800%;

  -webkit-animation: SetGradient 15s ease infinite;
  -moz-animation: SetGradient 15s ease infinite;
  -o-animation: SetGradient 15s ease infinite;
  animation: SetGradient 15s ease infinite;
}
