<div class="container-fluid">
   <div class="row div-gradient div-height text-center">
      <div class="col-12 my-auto">
         <h1 class="text-white light">Mean Opinion Score</h1>
         <h3 class="text-white light pt-2">Prueba de Usuarios</h3>
      </div>
   </div>
</div>
<br>
<div class="container mt-4 mb-4">
   <div class="row text-center">
      <div class="col-12 mt-4">
         <div class="mt-4">
            <i class="fa fa-star fa-lg" aria-hidden="true"></i>
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star fa-4x" aria-hidden="true"></i>
            <i class="fa fa-star-half-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
         </div>
         <br>
         <p class="text-justify text-dark regular pt-4 mt-4">
            Mean Opinion Score (MOS) es una medida utilizada en el ámbito de la calidad de la experiencia, que
            representa la calidad general de un estímulo o sistema. Es la media aritmética sobre todos los “valores en
            una escala predefinida que un sujeto asigna a su opinión sobre el rendimiento de un sistema". Esta sección
            busca reunir calificaciones de los usuarios por medio de una evaluación de calidad subjetiva.

            MOS es una medida utilizada comúnmente para vídeo, audio, y la evaluación de la calidad audiovisual, pero no
            se limita a esas modalidades. UIT-T ha definido varias formas de referirse a un MOS en la Recomendación
            P.800.1 , dependiendo de si la puntuación se obtuvo de audiovisual, de conversación, escuchar, hablar, o
            pruebas de calidad de vídeo.
         </p>
      </div>
   </div>
</div>
<br>
<br>
<div class="container-fluid bg-color pt-4 pb-4">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <h2 class="fs-title text-center">Descripción del Proyecto</h2>
            <p class="text-justify text-dark regular pt-4 mt-2">
               Dentro de las aplicaciones actuales de la inteligencia artificial y específicamente del Deep Learning,
               están
               las relacionadas con el procesamiento de voz como por el ejemplo los sistemas de reconocimiento de voz o
               reconocimiento de emociones en la voz. Adicionalmente, las arquitecturas actuales de deep learning han
               abierto una línea interesante de trabajo conocida como transferencia de estilo, la cual ha sido usada
               principalmente para la creación de pinturas que combinan una imagen cualquiera, con el estilo de artistas
               reconocidos como por ejemplo Vincent van Gogh. Sin embargo, recientemente se han propuesto diferentes
               aproximaciones que permiten hacer transferencia de estilo en señales de voz, combinando el mensaje dicho
               por
               una persona, con el timbre y la entonación de otra. Esta línea de trabajo tiene aplicaciones para el
               diseño
               de sistemas de síntesis de voz, específicamente conocidos como sistema de texto a voz personalizados,
               cuyo
               uso potencial puede ser el desarrollo de sistemas de entretenimiento, traducción de lenguaje hablado, o
               para
               la asistencia de personas que han perdido su capacidad de emitir sonidos de voz por causas de enfermedad.
               La
               mayoría de las aproximaciones encontradas en el estado del arte han sido desarrolladas para el idioma
               inglés, por lo que este proyecto integrador busca desarrollar un sistema que capture una nota de voz de
               una
               persona y transferir su voz a la de un personaje específico en la que ambas personas sean hablantes de
               idioma español, tomando como base un trabajo recientemente publicado en el campo.
            </p>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<div class="container">
   <div class="row">
      <div class="col-12">
         <h2 class="fs-title text-center">Objetivo de la Prueba</h2>
         <p class="text-justify text-dark regular pt-4 mt-2">
            Evaluar las transferencia de estilo en señales de voz, que combinan el mensaje
            dicho por una persona, con el timbre y la entonación de otra, las cuales se realizaron mediante la
            implementación de técnicas de Aprendizaje Profundo.
         </p>
      </div>
   </div>
</div>
<br>
<br>
<div class="container-fluid bg-color pt-4 pb-4">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
            <h2 class="fs-title text-center">Niveles de Calificación</h2>
            <p class="text-justify">Tenemos seis niveles de calificación, donde el cinco es la mejor y cero es
               la peor, después de marcar una opción es posible cambiarla, pero solo entre uno y cinco.</p>
         </div>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Excelente</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label class="selected">
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Muy Bueno</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label>
                        <input type="radio">
                     </label>
                     <label class="selected">
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Bueno</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label class="selected">
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Regular</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label class="selected">
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Malo</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label class="selected">
                        <input type="radio">
                     </label>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                  <h5 class="fs-subtitle">Muy Malo</h5>
                  <div class="btn-group rating-static" data-toggle="buttons">
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                     <label>
                        <input type="radio">
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
   <br>
</div>
<div class="container pt-4 pb-4">
   <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
         <h2 class="fs-title text-center">Ejemplos de Evaluaciones</h2>
         <p class="text-justify">Presentamos unos ejemplos, el los cuales podemos evidenciar cómo sería una buena o
            mala: similitud,
            naturalidad, natividad e inteligibilidad, clasificándolas de 0 a 5 según nuestro criterio. En estos ejemplos
            tendremos tres audio, el original, el estilo con una buena evaluación y el estilo con una mala evaluación
         </p>
      </div>
   </div>
</div>
<br>

<!-- Similitud -->
<div class="container-fluid bg-color">
   <div class="container pt-4 pb-4">
      <div class="row justify-content-center">
         <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
            <h2 class="fs-title text-center">Similitud</h2>
            <p class="text-center">Esta métrica nos permite identificar la relación entre dos audios.</p>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Original</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 1</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label class="selected">
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 2</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label class="selected">
                  <input type="radio">
               </label>
            </div>
         </div>
      </div>
   </div>
   <br>
</div>
<!-- END Similitud -->

<!-- Naturalidad -->
<div class="container-fluid">
   <div class="container pt-4 pb-4">
      <div class="row justify-content-center">

         <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
            <h2 class="fs-title text-center">Naturalidad</h2>
            <p class="text-center">Esta métrica nos permite determinar si el audio suena muy sintético con respecto al
               original.</p>
         </div>

         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Original</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 1</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label class="selected">
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 2</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label class="selected">
                  <input type="radio">
               </label>
            </div>
         </div>
      </div>
   </div>
   <br>
</div>
<!-- END Naturalidad -->

<!-- Natividad -->
<div class="container-fluid bg-color">
   <div class="container pt-4 pb-4">
      <div class="row justify-content-center">
         <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
            <h2 class="fs-title text-center">¿Qué tan nativo suena el audio?</h2>
            <p class="text-center">Esta métrica nos permite evaluar la relación que tiene el estilo procesado con la voz
               de un hablante nativo.</p>
         </div>

         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Original</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 1</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label class="selected">
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 2</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label class="selected">
                  <input type="radio">
               </label>
            </div>
         </div>
      </div>
   </div>
   <br>
</div>
<!-- END Natividad -->

<!-- Inteligibilidad -->
<div class="container-fluid">
   <div class="container pt-4 pb-4">
      <div class="row justify-content-center">
         <div class="col-sm-12 col-md-12 col-lg-12 pt-4">
            <h2 class="fs-title text-center">Inteligibilidad</h2>
            <p class="text-center">Esta métrica nos permite saber si se entiende el contenido de un audio y que tan
               bueno fue el procesado.</p>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Original</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 1</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label class="selected">
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
            </div>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4 pt-4 text-center">
            <h5 class="fs-subtitle text-center">Estilo 2</h5>
            <div class="audio-container">
               <audio controls>
                  <source src="/assets/12345.wav" type="audio/mpeg">
                  Your browser does not support the audio element.
               </audio>
            </div>
            <br>
            <div class="btn-group rating-static" data-toggle="buttons">
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label>
                  <input type="radio">
               </label>
               <label class="selected">
                  <input type="radio">
               </label>
            </div>
         </div>
      </div>
   </div>
   <br>
</div>
<!-- END Inteligibilidad -->


<!-- MultiStep Form -->
<div class="container-fluid div-gradient">
   <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-11 col-md-10 col-lg-8 text-center p-0 mt-4 mb-4 p-4">
         <div class="card px-0 pt-4 pb-0 mt-4 mb-4 border">
            <h2 class="pl-4 pr-4"><strong>Tu opinión es muy valiosa para nosotros</strong></h2>
            <div class="row">
               <div class="col-md-12 mx-0">

                  <form id="msform" class="text-center">
                     <!-- progressbar -->
                     <ul id="progressbar" class="form-card">
                        <li class="active" id="audio"><strong></strong>.</li>
                        <li id="audio" *ngFor="let survey of surveys; let i = index"><strong></strong></li>
                        <li id="confirm"><strong>.</strong></li>
                     </ul>


                     <!-- fieldsets -->
                     <fieldset>
                        <div class="form-card pl-2 pr-2">
                           <div class="row justify-content-center">
                              <div class="col-sm-12 col-md-12 col-lg-10 pt-4">
                                 <h2 class="fs-title pb-2 pl-3 pr-3 text-center">Antes de comenzar recuerda que:</h2>
                                 <ul>
                                    <li class="fs-subtitle">Son 18 secciones a evaluar, cada una cuenta con 2 audios de
                                       máximo 10 segundos.</li>
                                    <li class="fs-subtitle">No hay tiempo límite, pero se estima que puede tardar unos
                                       10 minutos.</li>
                                    <li class="fs-subtitle">Es importante realizar la evaluación con audífonos, ya que
                                       el uso de estos permite escuchar mejor los audios.</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="loading" *ngIf="loading">
                           <h4 class="fs-subtitle">Cargando...</h4>
                           <img src="/assets/loading.gif" alt="loading" width="15%">
                        </div>
                        <button type="button" *ngIf="loadingButton" (click)="nextItem($event)"
                           class="action-button btn btn-outline-dark next pt-2 pb-2">Comenzar
                           &nbsp; <i class="fa fa-arrow-right fa-md"></i></button>
                     </fieldset>
                     <fieldset *ngFor="let survey of surveys; let i = index;">
                        <div class="form-card pl-2 pr-2">
                           <h2 class="fs-title pb-2 pl-3 pr-3 text-center">Transferencia de estilo #{{i+1}}</h2>
                           <div class="row justify-content-center">
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4">
                                 <h5 class="fs-subtitle text-center">Original</h5>
                                 <div class="audio-container">
                                    <audio controls>
                                       <source src="{{styles[i]}}" type="audio/mpeg">
                                       Your browser does not support the audio element.
                                    </audio>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4">
                                 <h5 class="fs-subtitle text-center">Estilo</h5>
                                 <div class="audio-container">
                                    <audio controls>
                                       <source src="{{outputs[i]}}" type="audio/mpeg">
                                       Your browser does not support the audio element.
                                    </audio>
                                 </div>
                              </div>
                           </div>
                           <div class="row justify-content-center">
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4 text-center">
                                 <h5 class="fs-subtitle pb-2">Similitud</h5>
                                 <div class="btn-group rating" id="similarity" data-toggle="buttons">
                                    <label (click)="similarity($event,5)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="similarity($event,4)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="similarity($event,3)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="similarity($event,2)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="similarity($event,1)">
                                       <input type="radio">
                                    </label>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4 text-center">
                                 <h5 class="fs-subtitle pb-2">Naturalidad</h5>
                                 <div class="btn-group rating" id="naturalness" data-toggle="buttons">
                                    <label (click)="naturalness($event,5)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="naturalness($event,4)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="naturalness($event,3)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="naturalness($event,2)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="naturalness($event,1)">
                                       <input type="radio">
                                    </label>
                                 </div>
                              </div>
                              <div class="col-12 pt-4 text-center"></div>
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4 text-center">
                                 <h5 class="fs-subtitle pb-2">Inteligibilidad</h5>
                                 <div class="btn-group rating" id="intelligibility" data-toggle="buttons">
                                    <label (click)="intelligibility($event,5)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="intelligibility($event,4)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="intelligibility($event,3)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="intelligibility($event,2)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="intelligibility($event,1)">
                                       <input type="radio">
                                    </label>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-4 pt-4 text-center">
                                 <h5 class="fs-subtitle pb-2">¿Qué tan nativo suena?</h5>
                                 <div class="btn-group rating" id="nativity" data-toggle="buttons">
                                    <label (click)="nativity($event,5)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="nativity($event,4)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="nativity($event,3)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="nativity($event,2)">
                                       <input type="radio">
                                    </label>
                                    <label (click)="nativity($event,1)">
                                       <input type="radio">
                                    </label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <button type="button" (click)="nextItem($event)"
                           class="action-button next btn btn-outline-dark pt-2 pb-2">Siguiente
                           &nbsp; <i class="fa fa-arrow-right fa-md"></i></button>
                     </fieldset>

                     <!-- Final fielset -->
                     <fieldset>
                        <div class="form-card">
                           <div class="row justify-content-center">
                              <div class="col-12 text-center">
                                 <h2 class="fs-title text-center p-4">Completado!</h2>
                                 <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
                                 <h5 class="fs-subtitle text-center p-4">Tu opinión ha sido enviada.</h5>
                              </div>
                           </div>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>