.div-gradient{
   background: linear-gradient(271deg,#051426,#037F8C, #A8BFBD, #6F5173, #443D73, rgb(34, 29, 62));
   background-size: 800% 800%;

   -webkit-animation: SetGradient 20s ease infinite;
   -moz-animation: SetGradient 20s ease infinite;
   -o-animation: SetGradient 20s ease infinite;
   animation: SetGradient 20s ease infinite;

}


.form-card {
   margin: 0;
   padding: 0
}


#msform {
   text-align: center;
   position: relative;
   margin-top: 20px
}

#msform fieldset .form-card {
   background: white;
   border: 0 none;
   border-radius: 0px;
   box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
   padding: 20px 10px 30px 10px;
   box-sizing: border-box;
   width: 94%;
   margin: 0 3% 20px 3%;
   position: relative
}

#msform fieldset {
   background: white;
   border: 0 none;
   border-radius: 0.5rem;
   box-sizing: border-box;
   width: 100%;
   margin: 0;
   padding-bottom: 20px;
   position: relative
}

#msform fieldset:not(:first-of-type) {
   display: none
}

#msform fieldset .form-card {
   text-align: left;
   color: rgb(25, 25, 25)
}

#msform input,
#msform textarea {
   padding: 0px 8px 4px 8px;
   border: none;
   border-bottom: 1px solid #ccc;
   border-radius: 0px;
   margin-bottom: 25px;
   margin-top: 2px;
   width: 100%;
   box-sizing: border-box;
   color: #2C3E50;
   font-size: 16px;
   letter-spacing: 1px
}

#msform input:focus {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   border: none;
   font-weight: bold;
   border-bottom: 2px solid rgb(44, 44, 44);
   outline-width: 0
}

#msform .action-button {
   cursor: pointer;
}

#msform .action-button:hover,
#msform .action-button:focus {
   box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(44, 44, 44)
}

#msform .action-button-previous {
   width: 100px;
   background: #616161;
   font-weight: bold;
   color: white;
   border: 0 none;
   border-radius: 0px;
   cursor: pointer;
   padding: 10px 5px;
   margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
   box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
   border: none;
   outline: 0;
   border-bottom: 1px solid #ccc;
   padding: 2px 5px 3px 5px;
   margin: 2px
}

select.list-dt:focus {
   border-bottom: 2px solid rgb(44, 44, 44)
}

.card {
   z-index: 0;
   border: none;
   border-radius: 0.5rem;
   position: relative
}

#progressbar {
   margin-bottom: 30px;
   overflow: hidden;
   color: lightgrey
}

#progressbar .active {
   color: #000000
}

#progressbar li {
   list-style-type: none;
   font-size: 12px;
   width: 12.5%;
   float: left;
   position: relative
}

#progressbar #account:before {
   font-family: FontAwesome;
   content: "\f2c0"
}

#progressbar #audio:before {
   font-family: FontAwesome;
   content: "\f04b"
}

#progressbar #confirm:before {
   font-family: FontAwesome;
   content: "\f00c"
}

#progressbar li:before {
   width: 0;
   height: 0;
   line-height: 40px;
   display: block;
   font-size: 10px;
   color: #ffffff;
   background: lightgray;
   border-radius: 50%;
   margin: 0 auto 0 auto;
   padding: 0.05px;
}

#progressbar li:after {
   content: '';
   width: 100%;
   height: 15px;
   background: lightgray;
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   transition: all 2s ease;
}

#progressbar li.active:before,
#progressbar li.active:after {
   box-shadow: inset 150px 0 0 0 #444444;
}

.radio-group {
   position: relative;
   margin-bottom: 25px
}

.radio {
   display: inline-block;
   width: 204;
   height: 104;
   border-radius: 0;
   background: rgb(0, 0, 0);
   box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
   cursor: pointer;
   margin: 8px 2px
}

.radio:hover {
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
   width: 50%;
   object-fit: cover
}


.audio-container {
   display: flex;
   justify-content: center;
   align-items: center 
 }

/* Stars */

.rating {
   unicode-bidi: bidi-override;
   direction: rtl;
   /* width: 8em; */
}

.rating input {
   position: absolute;
   left: -999999px;
}

.rating label {
   display: inline-block;
   font-size: 0;
}

.rating > label:before {
   position: relative;
   font: 48px/1 FontAwesome;
   display: block;
   content: "\f005";
   color: #ccc;
   background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
   color: #f0ad4e;
   background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* End Stars */

/* CHECK ANIMATION */

.checkmark__circle {
   stroke-dasharray: 166;
   stroke-dashoffset: 166;
   stroke-width: 2;
   stroke-miterlimit: 10;
   stroke: #7ac142;
   fill: none;
   animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 }
 
 .checkmark {
   width: 108px;
   height: 108px;
   border-radius: 50%;
   display: block;
   stroke-width: 4;
   stroke: #fff;
   stroke-miterlimit: 10;
   margin: 0 auto;
   box-shadow: inset 0px 0px 0px #7ac142;
   animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
 }
 
 .checkmark__check {
   transform-origin: 50% 50%;
   stroke-dasharray: 48;
   stroke-dashoffset: 48;
   animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
 }
 
 @keyframes stroke {
   100% {
     stroke-dashoffset: 0;
   }
 }
 @keyframes scale {
   0%, 100% {
     transform: none;
   }
   50% {
     transform: scale3d(1.1, 1.1, 1);
   }
 }
 @keyframes fill {
   100% {
     box-shadow: inset 0px 0px 0px 60px #7ac142;
   }
 }

 /* END CHECK ANIMATION */




 /* Stars */

.rating-static {
   unicode-bidi: bidi-override;
   direction: rtl;
   /* width: 8em; */
}

.rating-static input {
   position: absolute;
   left: -999999px;
}

.rating-static label {
   display: inline-block;
   font-size: 0;
}

.rating-static > label:before {
   position: relative;
   font: 48px/1 FontAwesome;
   display: block;
   content: "\f005";
   color: #ccc;
   background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.rating-static > label,
.rating-static > label ~ label,
.rating-static > label.selected:before,
.rating-static > label.selected ~ label:before {
   color: #f0ad4e;
   background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* End Stars */