.navColor{
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  -webkit-transition: background-color 1s ease-out;  
  -moz-transition: background-color 1s ease-out;  
  -o-transition: background-color 1s ease-out;  
  transition: background-color 1s ease-out;  
}

.navColorScroll{
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  -webkit-transition: background-color 1s ease-out;  
  -moz-transition: background-color 1s ease-out;  
  -o-transition: background-color 1s ease-out;  
  transition: background-color 1s ease-out; 
}

.textListColor{
  color: white;
    -webkit-transition: color 1s ease-out;  
  -moz-transition: color 1s ease-out;  
  -o-transition: color 1s ease-out;  
  transition: color 1s ease-out; 
}
.textListColorScroll{
  color: rgb(106, 117, 127) !important;
  -webkit-transition: color 1s ease-out;  
  -moz-transition: color 1s ease-out;  
  -o-transition: color 1s ease-out;  
  transition: color 1s ease-out; 
}





