body {
   font-family: 'Lato', sans-serif;
 }
 a{
  text-decoration:none; 
}
 .light {
   font-weight: 300 !important;
 }
 .regular {
   font-weight: 400 !important;
 }
.white{
   color: white !important;
}
.transparent{
   background-color: transparent !important;
}

@-webkit-keyframes SetGradient {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-moz-keyframes SetGradient {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-o-keyframes SetGradient {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@keyframes SetGradient {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}

